/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.contact-page {
  min-height: 100vh;
  overflow: hidden;
}
@media (max-width: 800px) {
  .contact-page {
    overflow: visible;
  }
}
.contact-page #contact-h1 {
  font-size: 75px;
  text-align: center;
  margin-top: 100px;
}
.contact-page #contact-section {
  width: 300px;
  margin: 50px auto;
}
.contact-page #contact-section h2 {
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.contact-page #contact-section input {
  width: 50%;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  height: 30px;
  width: 300px;
}
.contact-page #contact-section textarea {
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 150px;
  width: 300px;
}
.contact-page #contact-section button {
  margin-top: 20px;
  height: 40px;
  width: 100px;
}
.contact-page .hidden {
  text-align: center;
  visibility: hidden;
}
.fallingObj {
  position: absolute;
  top: 0px;
  color: black;
  text-align: center;
}
.about-page #about-us {
  display: block;
  font-size: 75px;
  text-align: center;
  margin-top: 40px;
}
.about-page section {
  margin: 50px auto;
  display: flex;
  width: 80%;
  align-items: center;
}
@media (max-width: 800px) {
  .about-page section {
    flex-direction: column;
  }
}
.about-page section section {
  flex-direction: column;
  width: 50%;
  display: flex;
}
@media (max-width: 800px) {
  .about-page section section {
    width: 100%;
  }
}
.about-page section section h2 {
  height: 20%;
  width: 100%;
  margin-bottom: 10px;
}
.about-page section section p {
  height: 80%;
  width: 100%;
}
.about-page section img {
  width: 40%;
  height: 100%;
}
@media (max-width: 800px) {
  .about-page section img {
    width: 100%;
    height: auto;
  }
}
.about-page .reverse {
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .about-page .reverse {
    flex-direction: column;
  }
}
.about-page hr {
  width: 80%;
  margin: 20px auto;
}
.about-page #carousel {
  height: 40vw;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (max-width: 800px) {
  .about-page #carousel {
    flex-direction: row;
  }
}
.about-page #carousel .hidden {
  display: none;
}
.about-page #carousel img {
  width: auto;
  height: 100%;
}
.about-page #carousel #right-button {
  margin-right: 15vw;
  color: white;
  background-color: #03396c;
  border-width: 1px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
@media (max-width: 1000px) {
  .about-page #carousel #right-button {
    margin-right: 10vw;
  }
}
.about-page #carousel #left-button {
  margin-left: 15vw;
  color: white;
  background-color: #03396c;
  border-width: 1px;
  border-radius: 100px;
  width: 40px;
  height: 40px;
}
@media (max-width: 1000px) {
  .about-page #carousel #left-button {
    margin-left: 10vw;
  }
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
@media (max-width: 800px) {
  .main-section {
    display: flex;
    flex-direction: column;
  }
}
.main-section .main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 30%;
  padding-bottom: 2rem;
  margin-top: 20rem;
}
@media (max-width: 800px) {
  .main-section .main-content {
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 10%;
  }
}
.main-section .main-content p {
  font-size: 4.5rem;
  margin-bottom: 2rem;
  padding: 2.5rem;
}
.main-section .main-content .button a {
  position: relative;
  padding: 0.8rem 30px;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid #000;
  box-sizing: border-box;
  transition: 0.5s;
}
.main-section .main-content .button a:hover {
  color: #fff;
}
.main-section .main-content .button a:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: left;
}
.main-section .main-content .button a:hover:before {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: right;
}
.main-section .main-content .button a:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #000;
  z-index: -1;
  transform: scale(0);
  transition: transform 0.5s;
  transform-origin: right;
}
.main-section .main-content .button a:hover:after {
  transform: scaleX(1);
  transition: transform 0.5s;
  transform-origin: left;
}
.main-section .main-content figure {
  width: 40%;
  margin: 0 auto;
}
.main-section .main-content figure .logo1 {
  width: 70%;
}
.footer-section {
  max-height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 2px dashed #6497b1;
  background-color: #011f4b;
  flex-shrink: 0;
}
.footer-section h6 {
  color: white;
  font-size: 1.6rem;
  padding: 20px;
}
#content-section {
  min-height: 94vh;
}
header {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: #011f4b;
}
@media (max-width: 800px) {
  header {
    flex-direction: column;
    height: 200px;
  }
}
header #header-h1 {
  width: 40%;
  height: 100%;
  font-size: 3.5vw;
  line-height: 75px;
  color: white;
}
@media (max-width: 800px) {
  header #header-h1 {
    width: 100%;
    height: 30%;
    text-align: center;
    font-size: 3rem;
  }
}
header nav {
  width: 60%;
  display: flex;
}
@media (max-width: 800px) {
  header nav {
    flex-direction: column;
    width: 100%;
    height: 70%;
  }
}
header nav a {
  background-color: #011f4b;
  text-align: center;
  color: white;
  text-decoration: none;
  width: 25%;
  height: 100%;
  font-size: 1.4vw;
  line-height: 75px;
}
@media (max-width: 800px) {
  header nav a {
    width: 100%;
    height: 25%;
    font-size: 2rem;
    line-height: 30px;
  }
}
header nav a:hover {
  background-color: white;
  color: #011f4b;
}
.history-container {
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 5rem 0 0rem 0;
}
.history-container .row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1 0 auto;
}
.history-container .row .history-header {
  margin: 0 0 2rem 0;
}
.history-container .row h2 {
  font-size: 2.8rem;
  margin: 0 0 1.25rem 0;
}
.history-container .row h3 {
  font-size: 2rem;
}
@media (max-width: 800px) {
  .history-container .row {
    display: flex;
    flex-direction: column;
  }
  .history-container .row h2,
  .history-container .row h3 {
    text-align: center;
  }
}
.history-container .row .box-container .box-links {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}
.history-container .row .box-container .box-links .link {
  padding: 2.5rem 4.5rem;
  background: #b3cde0;
  border: 0.1 rem solid black;
  cursor: pointer;
}
.history-container .row .box-container .box-content {
  width: 100%;
  margin-top: 2rem;
}
.history-container .row .box-container .box-content .content {
  padding: 2rem;
  display: none;
}
.history-container .row .box-container .box-content .change {
  display: block;
}
