/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Russo One', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.about-page header {
  width: 100%;
  height: 75px;
  background-color: #011f4b;
}
.about-page header h1 {
  display: flex;
  width: 40%;
  height: 100%;
  font-size: 48px;
  line-height: 75px;
  color: white;
}
.about-page section {
  margin: 50px auto;
  display: flex;
  width: 80%;
}
@media (max-width: 800px) {
  .about-page section {
    flex-direction: column;
  }
}
.about-page section section {
  flex-direction: column;
  width: 50%;
  display: flex;
}
@media (max-width: 800px) {
  .about-page section section {
    width: 100%;
  }
}
.about-page section section h2 {
  height: 20%;
  width: 100%;
}
.about-page section section p {
  height: 80%;
  width: 100%;
}
.about-page section img {
  width: 40%;
  background-color: aqua;
}
@media (max-width: 800px) {
  .about-page section img {
    width: 100%;
    height: 200px;
  }
}
.about-page .reverse {
  flex-direction: row-reverse;
}
@media (max-width: 800px) {
  .about-page .reverse {
    flex-direction: column;
  }
}
.about-page .contact-us {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.about-page .contact-us h2 {
  width: 100%;
  margin-bottom: 5px;
}
.about-page .contact-us h4 {
  font-size: 18px;
  margin-top: 5px;
}
.about-page .contact-us input {
  width: 50%;
  margin: 10px 0px;
}
.about-page hr {
  width: 80%;
  margin: 20px auto;
}
.about-page footer {
  width: 100%;
  height: 75px;
  background-color: #011f4b;
}
.main-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header {
  display: flex;
  width: 100%;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  background-color: #b3cde0;
}
header h1 {
  margin: 2rem 0rem 0rem 2rem;
  width: 13%;
  text-decoration: none;
}
header nav {
  display: flex;
  width: 87%;
  justify-content: space-around;
  margin-left: 1rem;
}
header nav a {
  margin-top: 2rem;
  text-decoration: none;
  color: #0a0b0c;
}
