.footer-section {
    width           : 100%;
    display         : flex;
    justify-content : center;
    border-top      : 2px dashed @shakespeare;
    background-color: #011f4b;
    flex-shrink: 0;
    // margin-top   : 20rem;

    h6 {
        color    : white;
        font-size: 1.6rem;
        padding  : 20px;
    }
}