.main-section {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-evenly;
    margin: 3rem 0 3rem;

    .main-content {
        width         : 48%;
        padding       : 0 1%;
        padding-bottom: 2rem;
        // margin: 0 auto;

        p {
            color: red;
            font-size:2.5rem;
            margin-bottom: 2rem;
            padding: 2.5rem;
        }

        button {
            width: 200px;
            height: 75px;
            margin: 2rem 0 2rem 5.5rem;
        }

        button a {
             text-decoration: none;
        }

        // img {
        //  margin: 0 auto;
        //     background: url();
        // }
    }

}
